.f8{font-size:.6rem}

 .sspan {
        margin-left: 10px;
        margin-top: -25px;
        display: block;
      margin-left: -11em;
        text-align: center;
        z-index: 1;
        	

        
    }
@media screen and (min-width:60em)
{
   .sspan-l {
        margin-top: -25px;
        margin-bottom: 5px;
        display: block;
    } 
}

.overlay :before{
  position: absolute;
  content:" ";
  top:0;
  left:0;
  width:100%;
  height:100%;
  display: block;
  z-index:0;
  background-color: rgba(255,0,0,0.8);
}

nav.sticky {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

div.sticky {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0.5em;
}

#wrapper
{
 text-align:center;
 margin:0 auto;
 padding:0px;
 width:995px;
}
#output_image
{
 max-width:300px;
}